<div class="container">

<div>
<h1><%= @list.name %></h1>
<ul>
  <% @bookmarks.each do |bookmark| %>
    <%movie = Movie.find(bookmark.movie_id)%>
    <%= cl_image_tag bookmark.photo.key, height: 300, width: 400, crop: :fill %>
    <li><%= bookmark.comment%> - <%= movie.title %></li>
    <%= link_to "🗑Remove",
                    bookmark_path(bookmark),
                    method: :delete,
                    data: { confirm: "Are you sure?" } %>
  <% end %>
</ul>

<%= link_to "➕ add a bookmark", new_list_bookmark_path(@list)  %>
</div>

<%= link_to 'Back', root_path %> |

</div>
